---

---

<div class="flex w-screen h-[90vh] mt-16">
  <img
    src="../../../public/tatuadores/tattoo.webp"
    alt="Tattoo izquierda"
    class="w-1/2 h-full object-cover"
  />
  <img
    src="../../../public/tatuadores/tattoo.webp"
    alt="Tattoo derecha"
    class="w-1/2 h-full object-cover"
  />
</div>