---

const { 
    
        artistProfession,
        artistStyles,
        artistOrigin,
        artistBookings,    
        
} = Astro.props;

---

<p class="text-center text-xl mt-8 mb-6" style="font-family: var(--font-family-nb-international); color: #5a5a5a;">
        {artistProfession}
      </p>

      <div class="flex justify-between w-full max-w-md text-[var(--color-unexplored)]" style="font-family: var(--font-family-nb-international);">
        <div class="text-center">
          <p class="font-semibold">Styles</p>
          <p>{artistStyles}</p>
        </div>
        <div class="text-center">
          <p class="font-semibold">From</p>
          <p>{artistOrigin}</p>
        </div>
        <div class="text-center">
          <p class="font-semibold">Open for bookings</p>
          <p>{artistBookings}</p>
        </div>
</div>